@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(300deg);
    }
}

body {
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    background-color: black;
}

header {
    padding: 60px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(49, 48, 48);
}

.fas {
    color: rgb(26, 194, 26);
    font-size: 3.4rem;
    animation: rotate 2s ease-in-out infinite alternate;
}

.title {
    font-size: 2.4rem;
    color: rgb(26, 194, 26);
}

section {
    background: linear-gradient(180deg, rgb(49, 48, 48), rgb(112, 109, 109));
    margin: 0;
    padding: 40px 40px;
}

.decoding {
    margin-top: 160px;
}


h3 {
    color: rgb(31, 143, 31);
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

::placeholder{
    color: rgba(31, 143, 31, 0.6);
    font-weight: normal;
}

input {
    width: 600px;
    height: 50px;
    margin: 40px 40px;
    background-color:  rgb(167, 162, 162);
    color: rgb(31, 143, 31);
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid rgb(31, 143, 31);
    border-radius: 10px 10px;
    outline: none;
}

input:focus {
    border: 2px solid rgb(31, 143, 31)
}

button {
    width: 100px;
    height: 30px;
    margin: 0px 40px;
    color: rgb(31, 143, 31);
    background-color:  rgb(167, 162, 162);
    border-radius: 10px 10px;
    cursor: pointer;
    border: 1px solid rgb(31, 143, 31);
    transition: all 250ms ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    border: 2px solid rgb(31, 143, 31);
    background-color:  rgb(112, 109, 109);
}

p {
    color: rgb(255, 119, 8);
    font-weight: bold;
    margin: 45px 200px 0px 0px;
}

footer {
    background: linear-gradient(360deg, rgb(29, 28, 28), rgb(112, 109, 109));
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disclaimer, a {
    padding-top: 40px;
    font-size: 1.4rem;
    color: rgb(26, 194, 26);
    transition: all 250ms ease-in-out;
}